*{
    padding: 0;
    margin: 0;
}
:root {
    --cor-fundo: #D94423;
    --cor-hover: #3D5E73;
    --cor-primaria: #011826;
}
nav{
    position: fixed;
    z-index: 5;
    min-width: 100%;
    max-height: 45px;
    background-color: #D94423;
}
.dp-menu{
    float: right;
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}
.dp-menu ul ul ul {
    display: none;
    position: absolute;
    min-width: 200px;
    left: -200px;
    top: 5px;
}
.dp-menu ul ul li:hover .sub-2 {
    display: block;
}

.dp-menu ul li:hover .sub-1 {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}
#myTab{
position: relative;
top: 50px;
}
iframe{
    position: absolute;
    top: 90px;
    min-height: 100vh;
    min-width: 100vw;
}