*{margin:0 ; padding:0 ; box-sizing: border-box;}
body{background-color: #99a1a9;
}

form{
    background-color: white;
    display:list-item;
    width:30vw;
    height: 100vh;

}

form h3{
    text-align: center;
    color:#112838;
    font-family: 'Times New Roman', Times, serif;   
}

form img{
    position: relative;
    left: 7vw;
    width: 100px;
}

form input[type=text],
form input[type=password]{
    display: inline;
    align-items: center;
    border: 1px solid black;
    height: 30px;
    width: 60%;
    margin: 2px;
}